 /* Navbar */
 #navbar {
    background: #fff;
    color: #50c878;
    overflow: auto;
  }
  
  #navbar a {
    color: #50c878;
  }
  
  #navbar h1 {
    font-family: 'Comic Sans MS';
    float: left;
   
    font-size: 30px;
  }
  
  #navbar ul {
    list-style: none;
    float: right;
  }
  
  #navbar ul li {
    font-family: 'Comic Sans MS';
    float: left;
    font-size: 20px;
  }
   
  #navbar img {
      float: left;
      width: 150px;
      height: 95px;
      
  }
  #navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
  }
  
  #navbar ul li a:hover, 
  #navbar ul li a.current {
    background: #aaf0d1;
    color: #50c878;
  }
  



  #showcase {
    text-align: center;
    background: #ffdf00;
    height: 350px;
    box-sizing: border-box;
  }

  #showcase .showcase-content h2 {
    font-family: 'Comic Sans MS';
    padding-bottom: 20px;
    line-height: 1.7em;
    color: #3b3131;
  }


  * {
    box-sizing: border-box
}
.image-slideshow {
  max-width: 1500px;
  position: relative;
  margin: auto;
}
img {
  width: 100%
}
.fade {
 
  animation-duration: 6s;
}

/* Footer */
#main-footer {
  font-size: large;
    text-align: center;
    background: #fff;
    color: #50c878;
    padding: 20px;
    padding-top: 25px;
  }
  * {box-sizing:border-box}

  * {box-sizing:border-box}


  .text-primary {
    text-align: center;
    font-family: 'Comic Sans MS';
    color: #fff;
  }



  .boxa {
    font-family: 'Comic Sans MS';
    font-size: 20px;
    float:left;
    width: 33.3%;
    padding: 50px;
    text-align:center;
    background: #b5a642;
    color: #fff;

  }

  .bg-primary {
    background: #806517;
    color: #fff;
  }

  .box {
    font-size: 20px;
    float:left;
    width: 33.3%;
    padding: 50px;
    text-align:center;
    font-family: 'Comic Sans MS';
  }